@import 'base/varialbles';
@import 'base/mixins';

html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: #131313;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 15px;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/catalog';
@import 'blocks/media';
@import 'blocks/modal';