.button {
    width: 283px;
    height: 60px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    background-color: $main-color;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all;
    transform: skewX(-17deg);

    &__span {
        display: block;
        transform: skewX(17deg);
    }

    &:hover {
        box-shadow: 3px 3px 20px $main-color;
        border: 4px solid #d0d0d0;
    }

}